<nav class="flex bg-teal-700 text-white py-4">
  <div class="flex justify-between items-center w-full">
    {{#if userInSession}}
      <a
        href="/"
        class="ml-3 text-white font-bold hover:text-teal-300 transition-colors m-0"
      ><img src="../../public/images/Project-logo.png" alt="PP" /></a>
      <a
        href="/profile/{{userInSession.username}}"
        class="mr-3 text-white hover:text-teal-300 transition-colors font-bold m-0"
      >Profile</a>
      <form action="/logout" method="POST">
        <button
          class="mr-3 bg-transparent text-white border border-white rounded px-4 py-2 hover:bg-teal-500 hover:border-teal-500 transition-colors"
        >Logout</button>
      </form>
    {{else}}
      <div class="items-center">
        <a href="/"><img
            src="/images/Project-logo.png"
            alt="PP"
            class="max-h-10 ml-3"
          /></a>
      </div>
      <div>
        <button
          id="signup-modal-button"
          class="mr-3 bg-transparent text-white border border-white rounded px-4 py-2 hover:bg-teal-500 hover:border-teal-500 transition-colors"
        >Sign up</button>
        <button
          id="login-modal-button"
          class="mr-3 bg-transparent text-white border border-white rounded px-4 py-2 hover:bg-teal-500 hover:border-teal-500 transition-colors"
        >Log in</button>
      </div>
    {{/if}}
  </div>
</nav>

<dialog id="loginModal" class="bg-white rounded-lg p-4">
  <div>
    <div class="flex justify-between mb-4">
      <h2 class="text-xl font-bold ml-3">Log in</h2>
      <button
        id="login-close-modal"
        class="text-gray-600 text-xl w-max text-center font-bold mr-3"
      >x</button>
    </div>
    <form action="/login" method="post">
      <div class="mb-4">
        <input
          type="text"
          name="username"
          placeholder="Username"
          required
          class="w-full border border-gray-400 rounded px-3 py-2"
        />
      </div>
      <div class="mb-4">
        <input
          type="password"
          name="password"
          placeholder="*******"
          required
          class="w-full border border-gray-400 rounded px-3 py-2"
        />
      </div>
      <div class="flex justify-between">
        <button
          type="submit"
          class="bg-teal-700 text-white rounded px-4 py-2"
        >Log in</button>
        {{#if loginErrorMessage}}
          <p
            class="text-red-500 text-center px-4 py-2"
          >{{loginErrorMessage}}</p>
        {{/if}}
      </div>
    </form>
  </div>
</dialog>

<dialog id="signupModal" class="bg-white rounded-lg p-4">
  <div>
    <div class="flex justify-between mb-4">
      <h2 class="text-xl font-bold ml-3">Sign up</h2>
      <button
        id="signup-close-modal"
        class="text-gray-600 text-xl w-max text-center font-bold mr-3"
      >x</button>
    </div>
    <form action="/signup" method="post">
      <div class="mb-4">
        <label>
          <input
            type="text"
            name="username"
            placeholder="Username"
            required
            class="w-full border border-gray-400 rounded px-3 py-2"
          />
        </label>
      </div>
      <div class="mb-4">
        <label>
          <input
            type="email"
            name="email"
            placeholder="email"
            required
            class="w-full border border-gray-400 rounded px-3 py-2"
          />
        </label>
      </div>
      <div class="mb-4">
        <label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
            class="w-full border border-gray-400 rounded px-3 py-2"
          />
        </label>
      </div>
      <div class="flex justify-between">
        <button
          type="submit"
          class="bg-teal-700 text-white rounded px-4 py-2"
        >Sign up</button>
        {{#if signupErrorMessage}}
          <p
            class="text-red-500 text-center px-4 py-2"
          >{{signupErrorMessage}}</p>
        {{/if}}
      </div>
    </form>
  </div>
</dialog>

<script>
  document.addEventListener('DOMContentLoaded', function() { const loginError =
  {{loginError}}; if (loginError) { const loginModal =
  document.getElementById('loginModal'); loginModal.showModal(); } });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() { const signupError =
  {{signupError}}; if (signupError) { const signupModal =
  document.getElementById('signupModal'); signupModal.showModal(); } });
</script>