<nav>
  <form action="/search" method="post" id="search-form">
    <input type="text" name="search" id="search-input" required />
    <button type="submit" id="search-button">Search</button>
  </form>
  {{#if userInSession}}
    <a href="/">Home Page</a>
    <a href="/profile/{{userInSession.username}}">Profile</a>
    <form id="logout-form" action="/logout" method="POST">
      <button class="logout-button">Logout</button>
    </form>
  {{else}}
    <a href="/">Home Page</a>
    <a href="/signup">Sign up</a>
    <a href="/login" class="login-button">Log in</a>
  {{/if}}
</nav>

<form action="/threads" method="post">
  <input type="text" name="title" placeholder="title" required />
  <input type="text" name="content" placeholder="content" required />
  <button type="submit">Create Thread</button>
</form>
{{#each thread}}
  <section class="thread-container">
    <div class="thread" onclick="threadClick('{{this._id}}')">
      <h2 class="thread-title">{{this.title}}</h2>
      <p class="thread-content">{{this.content}}</p>
      <div class="thread-info-div">
        <p class="thread-info">Posted by
          <span style="font-weight: bolder;">{{this.author.username}}</span></p>
        <p class="thread-info">Posted: {{this.createdAt}}</p>
      </div>
    </div>
  </section>
{{/each}}