<nav>
  <form action="/search" method="post" id="search-form">
    <input type="text" name="search" id="search-input" required />
    <button type="submit" id="search-button">Search</button>
  </form>
  {{#if userInSession}}
    <a href="/">Home Page</a>
    <a href="/profile/{{userInSession.username}}">Profile</a>
    <form id="logout-form" action="/logout" method="POST">
      <button class="logout-button">Logout</button>
    </form>
  {{else}}
    <a href="/">Home Page</a>
    <a href="/signup">Sign up</a>
    <a href="/login" class="login-button">Log in</a>
  {{/if}}
</nav>

{{#if message}}
  <p>{{message}}</p>
{{/if}}

{{#if userInSession}}
  <div class="create-thread">
    <form action="/threads" method="post">
      <div class="form-row">
        <div class="form-group">
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Title"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            id="content"
            name="content"
            placeholder="Content"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <button type="submit">Create Thread</button>
      </div>
    </form>
  </div>

{{/if}}
{{#each thread}}
  <section class="thread-container">
    <div class="index-thread" onclick="threadClick('{{this._id}}')">
      <h2 class="thread-title">{{this.title}}</h2>
      <p class="thread-content">{{this.content}}</p>
      <div class="thread-info-div">
        <p class="thread-info">Posted by
          <span style="font-weight: bolder;">{{this.author.username}}</span></p>
        <p class="thread-info">Posted: {{this.createdAt}}</p>
      </div>
    </div>
  </section>
{{/each}}