<style>
  /* Custom CSS */
  body {
    background-color: #f8f9fa;
  }
  .navbar {
    background-color: #ffffff; /* White background */
    padding: 10px;
  }
  .navbar .nav-link {
    margin-right: 10px;
    color: #333333;
  }
  .navbar .nav-link.home-page {
    font-size: 18px;
    font-weight: bold;
  }
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container h2 {
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    width: 100%;
  }
  .btn-primary {
    width: 100%;
  }
  .error-message {
    color: #dc3545;
  }
</style>

<nav class="navbar navbar-expand-md">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" href="/">Home Page</a>
      </li>
    </ul>
    <form class="d-flex" action="/search" method="post" id="search-form" class="form-inline">
      <input class="form-control me-2" type="text" name="search" id="search-input" class="form-control mr-sm-2" required />
      <button class="btn btn-outline-success" type="submit" id="search-button" class="btn btn-primary">Search</button>
    </form>
    <ul class="navbar-nav">
      {{#if userInSession}}
        <li class="nav-item">
          <a href="/profile/{{userInSession.username}}" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
          <form id="logout-form" action="/logout" method="POST">
            <button class="btn btn-danger logout-button">Logout</button>
          </form>
        </li>
      {{else}}
        <li class="nav-item">
          <a href="/signup" class="nav-link">Sign up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link login-button">Log in</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>

<div class="container">
  <h2 id="username">{{username}}</h2>
  <h2 id="email">{{email}}</h2>
  <img src="{{avatar}}" alt="Profile Picture" id="avatar" class="img-fluid" />
  {{#if auth}}
    <a href="/profile/{{username}}/change-password" class="change-password btn btn-primary">Change Password</a>
  {{/if}}
</div>