<nav>
  <form action="/search" method="post" id="search-form">
    <input type="text" name="search" id="search-input" required />
    <button type="submit" id="search-button">Search</button>
  </form>
  {{#if userInSession}}
    <a href="/">Home Page</a>
    <a href="/profile/{{userInSession.username}}">Profile</a>
    <form id="logout-form" action="/logout" method="POST">
      <button class="logout-button">Logout</button>
    </form>
  {{else}}
    <a href="/">Home Page</a>
    <a href="/signup">Sign up</a>
    <a href="/login" class="login-button">Log in</a>
  {{/if}}
</nav>

<div class="profile">
  <h2 id="username">{{username}}</h2>
  <h2 id="email">{{email}}</h2>
  <img src="{{avatar}}" alt="Profile Picture" id="avatar" />
  <a href="/change-password" class="change-password">Change Password</a>
</div>