<section class="flex justify-center mt-6">
  <div
    class="profile flex flex-col items-center justify-center mt-6 bg-[#d1dbdb] w-96 shadow-md border-2 border-teal-700 rounded-lg py-[50px]"
  >
    <h2
      id="username"
      class="text-2xl font-bold text-teal-800"
    >{{user.username}}</h2>
    <h2 id="email" class="text-lg text-teal-800 font-bold">{{user.email}}</h2>
    <img
      src="{{user.profilePicture}}"
      alt="Profile Picture"
      id="avatar"
      class="w-40 h-40 rounded-full mt-4"
    />
    {{#if auth}}
      <button
        id="openEditProfile"
        class="bg-teal-700 hover:bg-teal-500 text-white font-bold py-2 px-4 rounded mt-4 w-[120px]"
      >
        Edit Profile
      </button>
      {{#if isAdmin}}
        <button
          id="openUsers"
          class="bg-teal-700 hover:bg-teal-500 text-white font-bold py-2 px-4 rounded mt-4 w-[120px]"
          onclick="location.href='/users';"
        >
          Users
        </button>
      {{/if}}
    {{/if}}
  </div>
</section>

<section class="w-full my-2">
  <div id="threads" class="py-4 w-96 m-auto border-2 border-teal-600 rounded-md bg-teal-900 hover:bg-teal-800 hover:cursor-pointer">
    <p class="text-white text-center font-bold">
      Most recent Threads from {{user.username}}
    </p>
  </div>
  <div id="recentThreads" class="mt-2 w-96 mx-auto hidden">
    {{#each recentThreads}}
      <div onclick="threadClick('{{this._id}}')" class="cursor-pointer mb-1 mx-3 hover:bg-teal-700 transition-colors border-teal-900 border-2 bg-teal-800 shadow-md p-2 rounded-md">
        <p class="text-white truncate">{{this.title}}</p>
      </div>
    {{/each}}
  </div>
</section>

<section class="w-full mb-2">
  <div id="posts" class="py-4 w-96 m-auto border-2 border-teal-600 rounded-md bg-teal-900 hover:bg-teal-800 hover:cursor-pointer">
    <p class="text-white text-center font-bold">
      Most recent Posts from {{user.username}}
    </p>
  </div>
  <div id="recentPosts" class="mt-2 w-96 mx-auto hidden">
    {{#each recentPosts}}
    <div onclick="threadClick('{{this.threadParent._id}}')" class="cursor-pointer mb-1 mx-3 hover:bg-teal-700 transition-colors border-teal-900 border-2 bg-teal-800 shadow-md p-2 rounded-md">
      <p class="text-white truncate">{{this.content}}</p>
    </div>
  {{/each}}
  </div>
</section>

<dialog
  id="editProfileModal"
  class="bg-white rounded-lg p-4 fixed inset-0 items-center justify-center w-64"
>
  <div>
    <div class="text-right">
      <button id="closeEditProfile" class="mr-3 text-teal-900">x</button>
    </div>
    <div>
      <form
        action="/profile-picture"
        method="post"
        enctype="multipart/form-data"
        class="mt-4 flex flex-col"
      >
        <input
          type="file"
          name="profilePicture"
          accept="image/*"
          class="border border-gray-300 p-2 mb-2"
        />
        <button
          type="submit"
          class="bg-teal-700 hover:bg-teal-500 text-white py-2 px-4 rounded"
        >Upload Profile Picture</button>
      </form>
    </div>
    <div>
      <h2 class="text-lg font-bold mt-4 text-teal-500">Change Password</h2>
      <form action="/change-password" method="post" class="mt-2 flex flex-col">
        <label>
          <input
            type="password"
            name="currentPassword"
            placeholder="Current Password"
            required
            class="border border-gray-300 p-2 mb-2 w-full"
          />
        </label>
        <label>
          <input
            type="password"
            name="newPassword"
            placeholder="New Password"
            required
            class="border border-gray-300 p-2 mb-2 w-full"
          />
        </label>
        <button
          type="submit"
          class="bg-teal-700 hover:bg-teal-500 text-white py-2 px-4 rounded"
        >Change Password</button>
      </form>
    </div>
    {{#if changePasswordError}}
      <p class="mt-2 text-red-800 text-center">{{errorMessage}}</p>
    {{/if}}
  </div>
</dialog>

{{#if message}}
  <p class="text-center text-teal-700 mt-6">{{message}}</p>
{{/if}}

<script>
  const openProfileButton = document.getElementById("openEditProfile"); const
  closeProfileButton = document.getElementById("closeEditProfile"); const
  editProfileModal = document.getElementById("editProfileModal");
  openProfileButton.addEventListener("click", () => {
  editProfileModal.showModal(); }); closeProfileButton.addEventListener("click",
  () => { editProfileModal.close(); });
</script>

<script>
  const changePasswordError =
  {{changePasswordError}}
  if (changePasswordError) { const editProfileModal =
  document.getElementById('editProfileModal'); editProfileModal.showModal(); }
</script>