<div>
  <p>{{thread.title}}</p>
  <p>{{thread.content}}</p>
  <form action="/threads/{{thread._id}}/update" method="post">
    <input type="text" name="title" value="{{thread.title}}">
    <input type="text" name="content" value="{{thread.content}}">
    <button type="submit">Edit</button>
  </form>
  <a href="/threads/{{thread._id}}">Go back</a>
</div>