<section>
  <div
    class="border border-teal-500 rounded-lg p-4 flex items-start space-x-4 sm:w-2/3 mx-auto my-5"
  >
    <div class="flex-shrink-0">
      <img
        class="h-10 w-10 rounded-full"
        src="{{thread.author.profilePicture}}"
        alt="PP"
      />
    </div>
    <div class="flex-grow">
      <div class="flex items-center justify-between">
        <p>
          Posted by
          <span>
            <a
              href="/profile/{{thread.author.username}}"
              class="text-teal-500"
            >{{thread.author.username}}</a>
          </span>
        </p>
        <p>Posted: {{thread.createdAt}}</p>
      </div>
      <div class="flex items-center justify-between">
        <div>
          <h2 class="text-lg font-bold">{{thread.title}}</h2>
        </div>
        <div class="flex items-center space-x-2">
          {{#if thread.auth}}
            <form action="/threads/{{thread._id}}/edit" method="get">
              <button type="submit" class="text-teal-500">Edit</button>
            </form>
            <form action="/threads/{{thread._id}}/delete" method="post">
              <button type="submit" class="text-teal-500">Delete</button>
            </form>
          {{/if}}
          <form action="/threads/{{thread._id}}/like" method="post">
            <button
              type="submit"
              class="text-teal-500 px-2 py-0.5 border border-teal-500"
            >
              {{thread.likes.length}}
            </button>
          </form>
        </div>
      </div>
      <div class="mt-2">
        {{thread.content}}
      </div>
    </div>
  </div>

  {{#each thread.posts}}
    <div class="bg-teal-900 p-4 rounded-md mb-4 w-2/4 m-auto">
      <div class="flex items-center mb-2">
        <img
          src="{{this.author.profilePicture}}"
          alt="PP"
          class="w-8 h-8 rounded-full mr-2"
        />
        <p class="text-white">Posted by:
          <span>
            <a
              href="/profile/{{this.author.username}}"
              class="text-teal-500 hover:underline"
            >
              {{this.author.username}}
            </a>
          </span>
        </p>
      </div>
      <div>
        <p class="text-white">{{this.content}}</p>
      </div>
      <div class="flex items-center mt-2 justify-end">
        {{#if auth}}
          <form action="/post/{{this._id}}/edit" method="get">
            <button type="submit" class="text-teal-500 mr-2">Edit</button>
          </form>
          <form action="/post/{{this._id}}/delete" method="post">
            <button type="submit" class="text-teal-500 mr-2">Delete</button>
          </form>
        {{/if}}
        <form action="/post/{{this._id}}/like" method="post">
          <button
            type="submit"
            class="mr-2 text-teal-500 px-2 py-0.5 border border-teal-500"
          >
            {{this.likes.length}}
          </button>
        </form>
      </div>
    </div>
  {{/each}}
</section>

<div class="bg-teal-900 p-4 rounded-md mb-4 sm:w-1/2 w-4/5 mx-auto my-32">
  <form action="/post/{{thread._id}}" method="post">
    <div class="grid grid-cols-1 gap-4">
      <div>
        <textarea
          id="content"
          name="content"
          placeholder="Create a Post!"
          required
          class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:border-teal-500 resize-y"
        ></textarea>
      </div>
    </div>
    <div class="mt-4">
      <button
        type="submit"
        class="bg-teal-700 text-white py-2 px-4 rounded-md hover:bg-teal-600 hover:border-teal-600 transition-colors"
      >
        Post
      </button>
    </div>
  </form>
</div>