<nav>
  <form action="/search" method="post" id="search-form">
    <input type="text" name="search" id="search-input" required />
    <button type="submit" id="search-button">Search</button>
  </form>
  {{#if userInSession}}
    <a href="/">Home Page</a>
    <a href="/profile/{{userInSession.username}}">Profile</a>
    <form id="logout-form" action="/logout" method="POST">
      <button class="logout-button">Logout</button>
    </form>
  {{else}}
    <a href="/">Home Page</a>
    <a href="/signup">Sign up</a>
    <a href="/login" class="login-button">Log in</a>
  {{/if}}
</nav>

<section>
  <div class="thread-container">
    <div class="thread">
      <h2 class="thread-title">{{thread.title}}</h2>
      <p class="thread-content">{{thread.content}}</p>
      <div class="thread-info-div">
        <p class="thread-info">Posted by
          <span
            style="font-weight: bolder;"
          >{{thread.author.username}}</span></p>
        <p class="thread-info">Posted: {{thread.createdAt}}</p>
        {{#if thread.auth}}
          <form action="/threads/{{thread._id}}" method="post">
            <button type="submit">Delete Thread</button>
          </form>
        {{/if}}
      </div>
    </div>
  </div>
  <div>
    <form action="/post/{{thread._id}}" method="post">
      <input type="text" name="content" required />
      <button type="submit">Post</button>
    </form>
  </div>
  {{#each thread.posts}}
    <p>{{this.content}}</p>
    <p>Posted by:
      <span style="font-weight: bolder;">{{this.author.username}}</span>
    </p>
    {{#if auth}}
      <form action="/posts/{{this._id}}" method="post">
        <button type="submit">Delete Post</button>
      </form>
      <form action="">
        <button type="submit">Edit Post</button>
      </form>
    {{/if}}
    <hr />
  {{/each}}

  <form action="/threads/{{thread._id}}/delete" method="post">
    <button type="submit">Delete Thread</button>
  </form>
</section>