<div class="py-4 mt-10 w-96 m-auto border-2 border-teal-800 rounded-md bg-teal-700">
  <p class="text-white text-center text-2xl font-bold">{{topic.title}}</p>
</div>

<div class="mt-4 md:mt-8">
<div class="rounded-md mx-3 md:w-2/3 md:mx-auto mb-5 mt-5 md:mt-0">
  <a href="/" class="bg-teal-900 text-white font-bold py-2 px-4 rounded-md hover:bg-white hover:text-teal-900 ml-5">Go Back</a>
</div>

{{#each thread}}
  <section
    class="mb-1 mx-3 md:w-2/3 md:mx-auto hover:bg-teal-800 transition-colors border-teal-800 border-2 bg-teal-900 shadow-md p-4 rounded-md"
  >
    <div onclick="threadClick('{{this._id}}')" class="cursor-pointer">
      <div>
        <h2 class="text-2xl text-white font-bold mb-1">{{this.title}}</h2>
        <p class="text-white">{{thread.likes.length}}</p>
      </div>
      <p class="text-white truncate">{{this.content}}</p>
      <div class="flex flex-row mt-2 justify-between">
        <div class="flex items-center">
          <img
            src="{{this.author.profilePicture}}"
            alt="PP"
            class="w-8 h-8 rounded-full mr-2"
          />
          <p class="text-white">Posted by:
            <span class="font-semibold">
              <a
                href="/profile/{{this.author.username}}"
                class="text-white hover:underline"
              >
                {{this.author.username}}
              </a>
            </span>
          </p>
        </div>
        <div class="flex items-center">
          <p class="text-white">Posted: {{this.createdAt}}</p>
        </div>
      </div>
    </div>
  </section>

{{/each}}

{{#if userInSession}}
  <div class="w-[352px] lg:w-[565px] mx-auto my-10 bg-teal-900 p-4 rounded-md">
    <form action="/threads/create/{{topic._id}}" method="post">
      <div class="grid grid-cols-1 gap-4">
        <div>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Title"
            required
            class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:border-teal-500"
          />
        </div>
        <div>
          <textarea
            id="content"
            name="content"
            placeholder="Content"
            required
            class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:border-teal-500 resize-y"
          ></textarea>
        </div>
      </div>
      <div class="mt-4">
        <button
          type="submit"
          class="bg-teal-900 text-white py-2 px-4 rounded-md border-teal-600 border hover:bg-teal-800 hover:border-teal-600 transition-colors"
        >
          Create Thread
        </button>
      </div>
    </form>
  </div>
{{/if}}
</div>